<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Skills</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <header>
    <div class="container">
      <div id="branding">
        <h1>Skills as a Developer and in General</h1>
      </div>
      <nav>
        <ul>
          <li><a href="./skills">My Skills</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="container">
    <section id="main">
      <p>Hi! My name is Kevin and I've been learning how to code for about 2ish months now.</p>
      <p>When people ask me how's coding going, I like to explain it to them as <em>trauma learning</em>.</p>
      <p>Some days you understand the material and other days you spend hours being stuck on a problem.</p>
      <p><b>BUT</b></p>
      <p>I love it since I'm able to learn from my mistakes and grow as a developer!</p>
    </section>
      <p>Feel free to click on the link on the top right to see my current skills.</p>
  </div>
</body>
</html>
